.GridContainer {
  display: grid;
  grid-template-columns: repeat(3,1250px);
  justify-content: center;
  gap: 15px;
  margin-top: 20px;

}
.Container
{

  height: 1400px;
  border: black solid 1px;
  background-color:lightgreen ;

}
img
{
  width: 100%;
  height: 45%;
}
.Banner
{
  width: 100%;
  height: 400px;
  background-color: green;
  display: flex;

}
.Title
{
  text-align: center;
  font-size: 100px;
  padding-top: 80px;
  color: white;
  padding-left: 1900px;
}
ol
{
  font-size: 70px;
  padding-left: 1500px;
  color: white;
}
.Label
{
  width: 100%;
  height: 200px;
  background-color: green;
  text-align: center;
  font-size:40px;
}
.Text
{
  font-size: 50px;
}
.Price
{
  text-align: right;
  font-size: 60px;
}
